body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

body p {
    line-height: 2;
}

header {
    width: 100%;
    display: flex;
    padding: 1% 0% 1% 0%;
    background-color: white;
    position: fixed;
}

.menu {
    position: relative;
    left: 40%;
    font-size: 30px;
    color: #DEE1E3;
    text-decoration: none;
}

.logo {
    position: relative;
    left: 40%;
    color: #F6755E;
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 2px;
}

header input {
    position: relative;
    left: 75%;
    background-color: transparent;
    color: #959799;
    padding: 1% 2% 1% 2%;
    border: solid #E6E8EA 1px;
    text-transform: uppercase;
}

input {
    cursor: pointer;
}

#banner {
    padding: 14% 0 12% 0;
    background-image: url(../images/banner.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
}

#content h1 {
    font-size: 50px;
    color: #25A2C3;
}

#content p {
    color: gray;
    font-size: 20px;
    text-align: center;
}

#content input {
    background-color: #F6755E;
    border: none;
    color: white;
    padding: 1% 4% 1% 4%;
    text-transform: uppercase;
}

#flex-container {
    margin-left: 5%;
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

#left {
    text-align: right;
}

#flex-container h3 {
    color: #25A2C3;
    margin-top: 10%;
}

#flex-container p {
    color: gray;
}

#flex-container img {
    width: 100%;
    border-radius: 100%;
}

#descript-box {
    font-size: 20px;
    background-color: #F6755E;
    text-align: center;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}

#descript-box p {
    font-size: 14px;
    color: rgb(223, 206, 206);
}

#italic {
    font-style: italic;
}

#descript-box span {
    color: white;
    font-size: 14px;
}

#img-box {
    display: flex;
    justify-content: space-between;
    margin: 8% 15% 8% 15%;
}

#img-box img {
    width: 100%;
}

.inner-box {
    width: 30%;
    border: solid 1px rgb(212, 206, 206);
    border-radius: 2%;
    text-align: left;
}

.inner-box h3 {
    margin: 8%;
    color: #25A2C3;
}

.inner-box p {
    margin: 8%;
    color: gray;
}

footer {
    background-color: #25A2C3;
    color: white;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

#social-media h2 {
    font-size: 40px;
}

#social-media i {
    color: #F6755E;
    margin-left: 3%;
    margin-right: 1%;
    font-size: 25px;
}

footer a {
    font-size: 15px;
    color: rgb(224, 214, 214);
    text-decoration: none;
}

#border {
    margin: 0 auto;
    margin-top: 2%;
    border: solid 1px rgb(255, 255, 255);
    opacity: 30%;
    width: 30%;
}

footer p {
    color: rgb(204, 197, 197);
    font-size: 12px;
    margin-top: 2%;
}

@media screen and (max-width: 1024px) {
    header {
        padding: 0;
    }
    .logo {
        position: relative;
        left: 33%;
    }
    header input {
        /* display: none; */
    }
    #content h1 {
        font-size: 40px;
    }
    #content p {
        margin-left: 20%;
        margin-right: 20%;
        font-size: 15px;
    }
    #flex-container {
        display: block;
        width: 100%;
    }
    #left {
        text-align: center;
    }
    #right {
        text-align: center;
    }
    #flex-container img {
        width: 50%;
        margin-left: 25%;
    }
    #descript-box {
        padding-left: 10%;
        padding-right: 10%;
    }
    #img-box {
        display: block;
    }
    .inner-box {
        width: 100%;
        margin-bottom: 5%;
        text-align: center;
    }
    #social-media {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    #social-media i {
        margin: 0;
        margin-top: 2%;
    }
    #border {
        margin-top: 5%;
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    header {
        padding: 3%;
    }
    .logo {
        position: relative;
        left: 20%;
        font-size: 20px;
    }
    .menu {
        position: relative;
        left: 10%;
        font-size: 20px;
    }
    #content h1 {
        font-size: 30px;
    }
    #content p {
        margin-left: 10%;
        margin-right: 10%;
        font-size: 15px;
    }
    #flex-container {
        background-color: black;
        padding-top: 3%;
        margin-top: -10%;
        margin-bottom: -5%;
    }
    #flex-container p {
        color: white;
    }
    #flex-container img {
        width: 70%;
        margin-left: 15%;
    }
    #img-box {
        margin: 0;
        padding: 10%;
        background-color: black;
    }
    .inner-box {
        background-color: white;
    }
    .inner-box p {
        color: black
    }
}