html {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: grey;
    padding: 10px;
    font-size: 15px;
    text-align: center;
}

nav {
    display: inline-block;
    margin-left: 20%;
}

header nav a {
    color: grey;
    margin-left: 15px;
    font-size: 13px;
    text-decoration: none;
}

#first {
    background-image: linear-gradient(90deg, lightblue, blue);
    padding: 20px;
    height: 350px;
    text-align: center;
    color: white
}

#webimg {
    width: 60px;
    height: 60px;
}

h1 {
    font-size: 35px;
    padding: 20px;
    text-align: center;
    color: white;
    line-height: 20px;
}

#second {
    background-image: linear-gradient(-90deg, lightblue, blue);
    color: white;
    height: 450px;
    padding: 1px;
}

button {
    background-color: blue;
    border: solid 2px black;
    color: white;
    border-radius: 30px;
    text-transform: uppercase;
}

.captions {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    border-bottom: solid 1px;
    width: 300px;
    padding: 20px;
    margin-left: 500px;
    margin-top: -10px
}

.box1 {
    float: left;
    color: white;
    width: 40%;
    margin-left: 80px;
}

.box2 {
    float: left;
    color: white;
    width: 40%;
    line-height: 20px;
}

h3 {
    color: black;
}

.box3 {
    background-color: white;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    color: gray;
    height: 450px;
    line-height: 1.6;
}

.div1 {
    width: 33%;
    float: left;
    margin-top: 50px;
}

.div2 {
    width: 33%;
    float: left;
    margin-top: 50px;
}

.div3 {
    width: 33%;
    float: left;
    margin-top: 50px;
}

footer {
    color: gray;
    font-size: 15px;
    padding: 10px;
    margin-left: 50px;
}