body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    display: inline-block;
    background-color: rgb(65, 82, 235);
    color: white;
    text-align: right;
    margin: 0;
}

header input {
    background-color: transparent;
    border: solid 1px;
    border-radius: 3px;
    color: white;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
}

#header-text {
    display: inline-block;
    margin-top: 5%;
    margin-right: 5%;
    opacity: 0.7;
}

#header-img {
    float: right;
    width: 10%;
    height: 20%;
    margin-right: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.box1 {
    border-bottom: solid 2px rgb(211, 202, 202);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 40vh;
    padding-top: 3%;
}

.box1 h1,
h2,
p,
button {
    opacity: 0.5;
}

#border {
    border-bottom: solid 2px rgb(211, 202, 202);
    width: 50px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
}

.first-div {
    border-bottom: solid 2px rgb(211, 202, 202);
    text-align: center;
    height: 50vh;
    padding-top: 50px;
}

#pic01 {
    border: solid 4px rgb(231, 224, 224);
    border-radius: 100%;
    float: left;
    margin-left: 20%;
    margin-right: 5%;
}

#descript-01 {
    padding-top: 30px;
    text-align: left;
    margin-right: 20%;
    opacity: 0.6;
}

.second-div {
    text-align: center;
    padding-top: 50px;
    height: 50vh;
}

#pic02 {
    border: solid 4px rgb(231, 224, 224);
    border-radius: 100%;
    float: right;
    margin-right: 20%;
    margin-left: 5%;
}

#descript-02 {
    padding-top: 30px;
    text-align: right;
    margin-left: 20%;
    opacity: 0.6;
}

.third-div {
    border-top: solid 2px rgb(211, 202, 202);
    border-bottom: solid 2px rgb(211, 202, 202);
    text-align: center;
    height: 50vh;
    padding-top: 50px;
}

#pic03 {
    border: solid 4px rgb(231, 224, 224);
    border-radius: 100%;
    float: left;
    margin-left: 20%;
    margin-right: 5%;
}

#descript-03 {
    padding-top: 30px;
    text-align: left;
    margin-right: 20%;
    opacity: 0.6;
}

button {
    background-color: transparent;
    border: solid 1px;
    border-radius: 3px;
    color: black;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
}

button:hover {
    background-color: rgb(65, 82, 235);
    color: white;
}

.media-icon {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 40vh;
    padding-top: 5%;
}

@media screen and (max-width: 980px) {
    #header-text {
        float: none;
        display: block;
        width: 80%;
        margin-left: 10%;
        text-align: center;
        margin-bottom: 10%;
    }
    #header-img {
        float: none;
        text-align: center;
        width: 30%;
        margin-right: 35%;
        margin-top: 10%;
    }
}

@media screen and (max-width: 980px) {
    .box1 {
        margin-top: 10%;
        height: 30vh;
    }
}

@media screen and (max-width: 980px) {
    #descript-01 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    #descript-02 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    #descript-03 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 736px) {
    .box1 h1 {
        font-size: 20px;
    }
    #descript-01 {
        text-align: center;
        margin: 0;
    }
    #descript-02 {
        text-align: center;
        margin: 0;
    }
    #descript-03 {
        text-align: center;
        margin: 0;
    }
}

@media screen and (max-width: 736px) {
    .first-div {
        padding-top: 20px;
        height: 55vh;
    }
    .second-div {
        padding-top: 20px;
        height: 55vh;
    }
    .third-div {
        padding-top: 20px;
        height: 55vh;
    }
}

@media screen and (max-width: 736px) {
    #pic01 {
        float: none;
        margin-bottom: -10%;
        margin-left: 5%;
    }
    #pic02 {
        float: none;
        margin-bottom: -10%;
        margin-right: 5%;
    }
    #pic03 {
        float: none;
        margin-bottom: -10%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 480px) {
    #pic01 {
        height: 50%;
    }
    #pic02 {
        height: 50%;
    }
    #pic03 {
        height: 50%;
    }
}

@media screen and (max-width: 480px) {
    .box1 h1 {
        margin-top: 5%;
        font-size: 18px;
    }
    #descript-01 {
        font-size: 14px;
        text-align: center;
        margin: 0;
    }
    #descript-02 {
        font-size: 14px;
        text-align: center;
        margin: 0;
    }
    #descript-03 {
        font-size: 14px;
        text-align: center;
        margin: 0;
    }
}