body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #2487ce;
}

a:hover {
    color: #469fdf;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

#header {
    background: #fff;
    z-index: 997;
    padding: 15px 0;
    border-bottom: 1px solid #e6f2fb;
}

#header.header-scrolled {
    border-color: #fff;
    box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}

#header .logo {
    font-size: 30px;
    font-weight: 350;
    font-family: "Poppins", sans-serif;
}

#header .logo a {
    color: #16507b;
}

.nav-menu ul {
    list-style: none;
    display: flex;
}

.nav-menu ul li {
    position: relative;
    white-space: nowrap;
    padding: 14px 0 14px 28px;
}

.nav-menu a {
    display: block;
    position: relative;
    color: #124265;
    margin-top: 7px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover,
.nav-menu .active a {
    color: #2487ce;
}

.get-started-btn {
    margin-left: 25px;
    background: #2487ce;
    color: #fff;
    border-radius: 5px;
    padding: 10px 30px 11px 30px;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
}

.get-started-btn:hover {
    background: #2079b8;
    color: #fff;
}

.hero {
    width: 100%;
    position: relative;
    background: url("../img/hero-bg.jpg");
    background-size: cover;
}

.hero:before {
    content: "";
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.hero {
    padding-top: 10%;
}

.hero h1 {
    font-size: 56px;
    font-weight: 700;
    color: #124265;
    font-family: "Poppins", sans-serif;
}

.hero h2 {
    color: #5e5e5e;
    margin: 10px;
    font-size: 22px;
}

.hero .btn-get-started {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    padding: 14px 50px;
    border-radius: 5px;
    margin-top: 30px;
    color: #fff;
    background: #2487ce;
}

.hero .btn-get-started:hover {
    background: #3194db;
}

.hero .icon-boxes {
    margin-top: 10%;
}

.hero .icon-box {
    padding: 50px 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
}

.hero .icon-box .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.hero .icon-box .title a {
    color: #124265;
    transition: 0.3s;
}

.hero .icon-box .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}

.hero .icon-box .icon {
    margin-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    font-size: 36px;
    line-height: 1;
    color: #2487ce;
}

.hero .icon-box:hover {
    transform: scale(1.08);
}

.hero .icon-box:hover .title a {
    color: #2487ce;
}

section {
    padding: 80px 0;
}

.about {
    padding-top: 5%;
}

.section-bg {
    background-color: #f8fbfe;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #124265;
}

.section-title p {
    font-size: 14px;
    color: #919191;
}

.about .content ul {
    list-style: none;
    padding: 0%;
}

.about .content ul li {
    padding-left: 28px;
    position: relative;
}

.about .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #2487ce;
}

.about .content .btn-learn-more {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.3s;
    line-height: 1;
    color: #2487ce;
    margin-top: 6px;
    border: 2px solid #2487ce;
}

.about .content .btn-learn-more:hover {
    background: #2487ce;
    color: #fff;
}

.counts {
    padding: 4%;
    margin-top: 3%;
}

.counts .count-box {
    width: 100%;
    text-align: center;
}

.counts .count-box span {
    font-size: 48px;
    line-height: 48px;
    display: block;
    font-weight: 700;
    color: #124265;
}

.counts .count-box p {
    padding: 8px 0 0 0;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #1e6ca6;
}

.services .icon-box {
    text-align: center;
    padding: 70px 20px 80px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
    box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}

.services .icon-box .icon {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
}

.services .icon-box .icon i {
    font-size: 35px;
    transition: 0.5s;
    position: relative;
}

.services .icon-box h4 {
    font-weight: 600;
    margin: 10px 0 15px 0;
    font-size: 22px;
}

.services .icon-box h4 a {
    color: #124265;
    transition: ease-in-out 0.3s;
}

.services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.services .icon-box:hover {
    border-color: #fff;
    box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.services .icon:hover i {
    font-size: 50px;
}

.services .icon-blue i {
    color: #47aeff;
}

.services .icon-orange i {
    color: #ffa76e;
}

.services .icon-pink i {
    color: #e80368;
}

.services .icon-yellow i {
    color: #ffbb2c;
}

.services .icon-red i {
    color: #ff5828;
}

.services .icon-lightblue i {
    color: #11dbcf;
}

.call-action {
    background: #2487ce;
    background-size: cover;
    padding: 60px 0;
}

.call-action h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

.call-action {
    color: #fff;
}

.call-action .call-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 35px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid #fff;
    color: #fff;
}

.call-action .call-btn:hover {
    background: #fff;
    color: #2487ce;
}

.team .member {
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}

.team .member .member-img {
    position: relative;
    overflow: hidden;
}

.team .member .social {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40px;
    opacity: 0;
    transition: ease-in-out 0.3s;
    text-align: center;
    background: rgba(255, 255, 255, 0.85);
}

.team .member .social a {
    transition: color 0.3s;
    color: #124265;
    margin: 0 10px;
    padding-top: 8px;
    display: inline-block;
}

.team .member .social a:hover {
    color: #2487ce;
}

.team .member .social i {
    font-size: 18px;
    margin: 0 2px;
}

.team .member .member-info {
    padding: 25px 15px;
}

.team .member .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    color: #124265;
}

.team .member .member-info span {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #aaaaaa;
}

.team .member .member-info p {
    font-style: italic;
    font-size: 14px;
    line-height: 26px;
    color: #777777;
}

.team .member:hover .social {
    opacity: 1;
}

.pricing .box {
    padding: 40px 20px;
    text-align: center;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    background: #fefefe;
    box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
}

.pricing .box h3 {
    font-weight: 400;
    padding: 15px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: #124265;
}

.pricing .box h4 {
    font-size: 42px;
    color: #2487ce;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px;
}

.pricing .box h4 sub {
    font-size: 20px;
    top: -15px;
    left: -3px;
}

.pricing .box h4 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
}

.pricing .box ul {
    padding: 0;
    list-style: none;
    color: #124265;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

.pricing .box ul li {
    padding-bottom: 16px;
}

.pricing .box ul .line {
    color: #ccc;
    text-decoration: line-through;
}

.pricing .box .btn-wrap {
    padding: 15px;
    text-align: center;
}

.pricing .box .btn-buy {
    display: inline-block;
    padding: 10px 40px;
    border-radius: 4px;
    color: #2487ce;
    transition: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    transition: 0.3s;
    border: 2px solid #2487ce;
}

.pricing .box .btn-buy:hover {
    background: #2487ce;
    color: #fff;
}

.pricing .blue-box {
    background: #2487ce;
}

.pricing .blue-box h3,
.pricing .blue-box h4,
.pricing .blue-box h4 span,
.pricing .blue-box ul,
.pricing .blue-box ul .line {
    color: #fff;
}

.pricing .blue-box .btn-wrap {
    padding: 15px;
    text-align: center;
}

.pricing .blue-box .btn-buy {
    color: #fff;
    border: 2px solid #fff;
}

.pricing .blue-box .btn-buy:hover {
    background: #fff;
    color: #2487ce;
}

footer {
    color: #444444;
    font-size: 14px;
    background: #f8fbfe;
    box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}

footer .footer-top {
    padding: 60px 0 30px 0;
    background: #fff;
}

footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

footer .footer-top .footer-contact h3 {
    font-size: 26px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 300;
}

footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #777777;
}

footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #124265;
    position: relative;
    padding-bottom: 12px;
}

footer .footer-top .footer-links {
    margin-bottom: 30px;
}

footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #2487ce;
    font-size: 18px;
    line-height: 1;
}

footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #2487ce;
}

@media (max-width: 992px) {
    #header .logo {
        font-size: 28px;
    }
}

@media (max-width: 768px) {
    .get-started-btn {
        margin: 0 48px 0 0;
        padding: 5px 18px 6px 18px;
        border-radius: 3px;
    }
}

@media (min-width: 1024px) {
    .hero {
        background-attachment: fixed;
    }
}

@media (max-width: 992px),
(max-height: 500) {
    .hero {
        height: auto;
    }
    .hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
    .hero h2 {
        font-size: 18px;
        line-height: 24px;
    }
    .hero {
        margin-top: 25%;
    }
}